.training-season {
  width: 100%;
  padding: 0 6px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #fdfdff;
  border: 1px solid #eaeaec;
  &__header {
    display: flex;
    justify-content: space-between;
    &__title {
      font-weight: 500;
      font-size: 14px;
      color: #6f6bb7;
      padding: 4px 0;
      text-transform: uppercase;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      overflow: hidden !important;
    }
    &__icon {
      display: flex;
      align-items: center;
      svg {
        display: inline;
        color: #a3a9ad;
      }
    }
  }

  &__content {
    border-radius: 8px;
    background-color: #f6f7f9;
    &__title {
      font-weight: 500;
      font-size: 14px;
      color: #a2a6aa;
      margin: 8px;
    }

    &__title--purple {
      color: purple;
      font-weight: bold;
    }

    &__body {
      min-height: 100%;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__icon {
      padding-bottom: 6px;
      display: inline;
      svg {
        color: #a3a9ad;
      }
    }
  }
}
