.card {
  width: 100%;
  margin: 4px 0;
  padding: 6px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #eaeaec;
  cursor: pointer;

  &__title {
    text-align: end;
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    padding-right: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden !important;
    word-break: break-all;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    &__left,
    &__right {
      font-size: 12px;
      line-height: 12px;
      color: #a2a6aa;
    }
    &__left {
      font-weight: 500;
    }
  }
}
